services:
  unitn-ap-common-dev:
    image: ghcr.io/unitn-ap-2025/common-dev
    container_name: unitn-ap-common-dev
    working_dir: /workspace
    volumes:
      - "..:/workspace"
    command: >
      bash -lc "
        exec sleep infinity
      "
