name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
          rustflags: ""
          matcher: false
          cache: false

      - uses: Swatinem/rust-cache@v2

      - run: |
          sudo apt-get update
          sudo apt-get install -y just

      - name: Format
        run: just fmt

      - name: Lint
        run: just lint

      - name: Test
        run: just test
